.about {
    padding: 2rem 0;
    width: 100%;
    background-color: rgb(71, 69, 69);
    min-height: 100vh;
}

.about_grid{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
    width: 100%;
}

.about_grid img {
    flex: 2;
    width: 100%;
}

@media screen and (max-width:650px) {
    .about_grid h1 {
        font-size: 25px;
    }
    .about_grid h3 {
        font-size: 15px;
    }
    .about_grid {
        flex-direction: column;
    }
}